.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #131A26;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
 
}

.logo {
  background: #3BD771;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.5); */
  animation: shadow 0.7s infinite alternate;
  
}


.logo-container .hire {
  position: absolute;
  font-size: 10px;
  top: 30px;
  left: 120px;
  background-color: orange;
  padding-left: 3px;
  padding-right: 3px;
  z-index: 99;
  border-radius: 2px;
}

.logo-container .hire:hover {
  animation: tilt 0.3s forwards ease-out;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.nav-menu {
  list-style-type: none;
  display: flex;
}

.nav-menu li {
  margin-right: 1rem;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

.sub-menu {
  width: 90%;
  background: #fff;
  display: none;
  color: #333;
  padding: 0.5rem;
  position: absolute;
  border: 1px solid;
  top: 300%;
  left: 50%;
  border-radius: .5rem;
  transform: translate(-50%, -50%);
  animation: fadeIn 1s;
  z-index: 9;
  cursor: pointer;
}

.nav-menu li:hover .sub-menu {
  display: block;
}

.sub-menu:hover .sub-menu {
  display: block;
}

.sub-menu li {
  margin: 0.5rem 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  list-style: none;
  background: #fff;
}

.right-menu a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  cursor: pointer;
  
}

.right-menu .green-bg {
  background: #3BD771;
  padding: .5rem;
  border-radius: .2rem;
}

.submenu-item {
  position: relative;
}

.submenu-content {
  flex: 1;
  padding: 10px;
}

.submenu-content h3 {
  margin: 0;
}

.submenu-content p {
  margin: 0;
}

.submenu-row {
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.submenu-item {
  width: calc(50% - 10px);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.submenu-item:hover {
  background-color: aliceblue;
}

.submenu-icon {
  margin-right: 20px;
  font-size: 2rem;
}

.submenu-item::before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3BD771;
  box-shadow:0 0 10px 5px rgb(0, 255, 0); 
  z-index: 9;
  opacity: .5;
}

.side-navbar {
  position: fixed;
  top: 0;
  left: -100%; /* Off-screen by default */
  width: 100%;
  height: 100%;
  background-color: #131A26;
  color: #fff;
  z-index: 99999;
  transition: left 0.3s ease;
  
}

.side-navbar.open {
  left: 0; /* Bring into view */
  top: 70px;
}

.side-navbar ul {
  list-style: none;
  padding: 0;
}

.side-navbar li {
  padding: 1rem;
}

.side-navbar li a {
  color: inherit;
  text-decoration: none;
}

.mobile{
  display: none;
}
.monitor{
  margin-top: 5vw;
}
.monitor li{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.monitor img{
  width: 50px;
  height: 50px;
}
hr{
  margin: 5vw 0;
}
/* Add additional styles as needed */


/* Media query for screens smaller than 600px (typical mobile devices) */
@media (max-width: 900px) {
  .nav-menu {
    display: none;
  }

  .logo-container .hire {
    display: none;
  }

  .right-menu {
    display: flex;
    align-items: center;
  }

  .right-menu a {
    margin-left: 0.5rem;
    display: none;
  }
  .mobile{
    display: block;

  }
}
